*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    margin: auto;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-items: center;
    align-items: center;
}

main{
    width: 45%;         
    height: 85%;
    background-color: aqua;
    margin: auto;
    padding: 30px;
    display: grid;
    border-radius: 3%;
    position: relative;
}

.container {  display: grid;
    grid-template-columns: 1fr 1.1fr 0.9fr;
    grid-template-rows: 5fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "FOTOS FOTOS FOTOS"
      "ANOS ANOS ANOS"
      "MESES MESES MESES"
      "DIAS DIAS DIAS"
      "HORAS HORAS HORAS"
      "MINUTOS MINUTOS MINUTOS"
      "SEGUNDOS SEGUNDOS SEGUNDOS";
      width: 100%;
      height: 100%;
  }
  
  .FOTOS { grid-area: FOTOS; 
    background-color: aquamarine;
    border-radius: 10px;
}
  
  .ANOS { grid-area: ANOS; 
    background-color: bisque;
    border: 2px solid black;
    border-radius: 10px;
}
  
  .MESES { grid-area: MESES;
    background-color: blue;
    border: 2px solid black;
    border-radius: 10px;
}
  
  .DIAS { grid-area: DIAS;
    background-color: blueviolet;
    border: 2px solid black;
    border-radius: 10px;
}
  
  .HORAS { grid-area: HORAS; 
    background-color: brown;
    border: 2px solid black;
    border-radius: 10px;
}
  
  .MINUTOS { grid-area: MINUTOS;
    background-color: cadetblue;
    border: 2px solid black;
    border-radius: 10px;
}
  
  .SEGUNDOS { grid-area: SEGUNDOS; 
    background-color: chartreuse;
    border: 2px solid black;
    border-radius: 10px;
}

#informacao{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.pai{ grid-area: FOTOS; 
  width: 100%;
  height: 100%;
  position: relative;

}

.filho{
  width: 100%;
  height: 100%;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.quadrado{
  background-color: blueviolet;
  width: 100%;
  height: 100%;
}

.slider{
  margin: 0 auto;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 10px;
  border: 3px solid black;
}

.slides{
  width: 400%;
  height: 300px; /*! aqui  radios*/
  display: flex;

}

.slides input{
  display: none;
}

.slide{
  width: 25%;
  position: relative;
  transition: 2s;
}

.slide img{
  width: 100%;
  height: 100%;
}

.manual-navigation{
  position: absolute;
  width: 100%;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn{
  border: 2px solid white ;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child){
  margin-right: 40px;
}

.manual-btn:hover{
  background-color: aliceblue;
}

#radio1:checked ~ .first{
  margin-left: 0;
}

#radio2:checked ~ .first{
  margin-left: -25%;
}

#radio3:checked ~ .first{
  margin-left: -50%;
}

#radio4:checked ~ .first{
  margin-left: -75%;
}

.navigation-auto div{
  border: 2px solid rgb(255, 0, 212);
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.navigation-auto{
  position: absolute;
  width: 100%;
  margin-top: 260px;
  display: flex;
  justify-content: center;
}

.navigation-auto div:not(:last-child){
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
  background-color: chartreuse;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
  background-color: chartreuse;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
  background-color: chartreuse;
}
#radio4:checked ~ .navigation-auto .auto-btn4{
  background-color: chartreuse;
}

@media (min-width: 360px) and (max-width: 798.98px){
  body{
      background-color: #ff00ff;
  }

  main{
    width: 90%;         
}

  .manual-navigation{
    display: none;
  }

  .navigation-auto{
    display: none;
  }

}

@media (min-width:768px) and (max-width: 991.98px){
  body{
      background-color: #00ff00;
  }

  main{
    width: 90%;         
}

.slide img{
  width: 100%;
  height: 140%;
}

.manual-navigation{
  position: absolute;
  width: 100%;
  margin-top: 60px;
  display: flex;
  justify-content: center;
}

.navigation-auto{
  position: absolute;
  width: 100%;
  margin-top: 360px;
  display: flex;
  justify-content: center;
}
}

@media (min-width: 992px) and (max-width: 1199.98px){
  body{
      background-color: #00ffff;
  }
}

@media (min-width: 1200px) and (max-width: 1399.98px){
  body{
      background-color: #5900ff;
  }
}

@media (min-width: 1400px){
  body{
      background-color: #ff0000;
  }
  main{
    width: 60%;         
}

.slide img{
  width: 100%;
  height: 110%;
}
}