body{
    margin: 0;
    padding: 0px;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
}

.slider{
    margin: 0 auto;
    width: 500px;
    height: 500px;
    overflow: hidden;
}

.slides{
    width: 400%;
    height: 500px;
    display: flex;

}

.slides input{
    display: none;
}

.slide{
    width: 25%;
    position: relative;
    transition: 2s;
}

.slide img{
    width: 500px;
}

.manual-navigation{
    position: absolute;
    width: 500px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid white ;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background-color: aliceblue;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -25%;
}

#radio3:checked ~ .first{
    margin-left: -50%;
}

#radio4:checked ~ .first{
    margin-left: -75%;
}

.navigation-auto div{
    border: 2px solid rgb(255, 0, 212);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto{
    position: absolute;
    width: 500px;
    margin-top: 460px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: chartreuse;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: chartreuse;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: chartreuse;
}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: chartreuse;
}


/*! ALTERADO */


*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    margin: auto;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-items: center;
    align-items: center;
}

main{
    width: 45%;         
    height: 85%;
    background-color: aqua;
    margin: auto;
    padding: 30px;
    display: grid;
    border-radius: 3%;
    position: relative;
}

.container {  display: grid;
    grid-template-columns: 1fr 1.1fr 0.9fr;
    grid-template-rows: 5fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "FOTOS FOTOS FOTOS"
      "ANOS ANOS ANOS"
      "MESES MESES MESES"
      "DIAS DIAS DIAS"
      "HORAS HORAS HORAS"
      "MINUTOS MINUTOS MINUTOS"
      "SEGUNDOS SEGUNDOS SEGUNDOS";
      width: 100%;
      height: 100%;
  }
  
  .FOTOS { grid-area: FOTOS; 
    border-radius: 10px;
}
  
  .ANOS { grid-area: ANOS; 
    background-color: bisque;
    border: 2px solid black;
    border-radius: 10px;
}
  
  .MESES { grid-area: MESES;
    background-color: blue;
    border: 2px solid black;
    border-radius: 10px;
}
  
  .DIAS { grid-area: DIAS;
    background-color: blueviolet;
    border: 2px solid black;
    border-radius: 10px;
}
  
  .HORAS { grid-area: HORAS; 
    background-color: brown;
    border: 2px solid black;
    border-radius: 10px;
}
  
  .MINUTOS { grid-area: MINUTOS;
    background-color: cadetblue;
    border: 2px solid black;
    border-radius: 10px;
}
  
  .SEGUNDOS { grid-area: SEGUNDOS; 
    background-color: chartreuse;
    border: 2px solid black;
    border-radius: 10px;
}

#informacao{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.pai{ grid-area: FOTOS; 
  width: 100%;
  height: 100%;
  position: relative;
  background-color: pink;
}

.filho{
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.quadrado{
  background-color: blueviolet;
  width: 50px;
  height: 50px;

}


.slider{
  margin: 0 auto;
  width: 350px;
  height: 295px;
  overflow: hidden;
  border-radius: 10px;
  border: 3px solid black;
}

.slides{
  width: 400%;
  height: 300px; /*! aqui  radios*/
  display: flex;

}

.slides input{
  display: none;
}

.slide{
  width: 25%;
  position: relative;
  transition: 2s;
}

.slide img{
  width: 100%;
  height: 100%;
}

.manual-navigation{
  position: absolute;
  width: 350px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn{
  border: 2px solid white ;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child){
  margin-right: 40px;
}

.manual-btn:hover{
  background-color: aliceblue;
}

#radio1:checked ~ .first{
  margin-left: 0;
}

#radio2:checked ~ .first{
  margin-left: -25%;
}

#radio3:checked ~ .first{
  margin-left: -50%;
}

#radio4:checked ~ .first{
  margin-left: -75%;
}

.navigation-auto div{
  border: 2px solid rgb(255, 0, 212);
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.navigation-auto{
  position: absolute;
  width: 350px;
  margin-top: 260px;
  display: flex;
  justify-content: center;
}

.navigation-auto div:not(:last-child){
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
  background-color: chartreuse;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
  background-color: chartreuse;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
  background-color: chartreuse;
}
#radio4:checked ~ .navigation-auto .auto-btn4{
  background-color: chartreuse;
}
