$bg: linear-gradient(#977DFF, #F2E6EE);
$header: #00033D;
$active: #0033FF;

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
}

header{
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    bottom: 1rem;

    width: 90%;
    height: 4rem;
    background-color: $header;
    border-radius: 5rem;

    .container{
        position: absolute;
        width: 100%;
        height: 4rem;
        border-radius: 5rem;

        .itens{
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            width: 100%;
            height: 4rem;
            border-radius: 5rem;

            i{
                color: white;
                padding: 1rem;
                border-radius: 50%;

                &.active{
                    background-color: $active;
                }
            }
        }
    }
}

:root{
    --bg: #3e3f42;
    --section: #417571 ;
    --input: #cad5de;
    --btn:#f0b9cf;
    --font: "Roboto Flex", sans-serif;;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(45deg, #281842,#2c2d5f77);
    font-family: var(--font);
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 100%;
    height: 50%;
}

.game{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p{
        font-size: 1.5rem;
    }

    img{
        width: 100%;
        max-width: 10rem;
        height: 100%;
        border-radius: 1rem;
    }
}